<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Stupid Coaching</h1>
    <p></p>
    <form action="/answer" data-turbo="false">
      <label for="question">Ask your coach anything:</label>
      <div class="d-flex">
        <input class="form-control" type="text" name="question">
        <input class="btn btn-primary" type="submit" value="Ask!">
      </div>
    </form>
  </div>
</div>
